{% extends "layout.html" %}
{% from "macros.html" import json_button%}
{% block title %}Datasets{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block page_css %}
    th.toc_name{
        width: 20em;
    }
{% endblock %}
{% block masthead %}Datasets{% endblock %}
{% block json_button %}
    {{ json_button('bundle_index_json') }}
{% endblock %}
{% block body %}


{% include 'bundle-parts/bundle-list.html' -%}


{% endblock %}

{% block tailjs %}
    {{ super() }}
    <script>
    $('.toc_title').tooltip()
    </script>
{% endblock %}