{% extends "layout.html" %}

{% block title %}{{title}}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block masthead %}{{title}}{% endblock %}

{% block body %}

{% include 'search/single_form.html' -%}

<div class = "row">
    <div class="col-md-8 col-md-offset-2">
        <small>
            <p>Use special terms for more specificity: "births <strong>in</strong> San Diego
                <strong>from</strong> 2005 <strong>source</strong> cdph.ca.gov.
            <button class="btn btn-primary btn-xs" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                more help
            </button></p>
        </small>
    </div>
    <div class="collapse col-md-8 col-md-offset-2" id="collapseExample">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Tour of the Interface</h3>
            </div>
            <div class="panel-body">
            <p>The searchbox recognizes a few special search terms for tailoring your search. They are all short
            English words, and you'll probably use them without even knowing about them. </p>

            <dl class="dl-horizontal">
              <dt>&lt;none&gt;</dt><dd>With no special term, the text searches for the subject of the dataset
                <strong>"births"</strong>  or <strong>"immunization"</strong>. This is usually the
                first word or words in a search.
              <dt>in</dt><dd>Find data in a greographic area. <strong>"births in San Diego California"</strong></dd>
              <dt>from and to</dt><dd>Find data within a time period of years. <strong>"births from 2005 to 2010"</strong>
                or <strong>"births from 2005"</strong></dd>
              <dt>with</dt><dd>Search the data dictionary for a variable name or description. <strong>"immunization with exemption"</strong></dd>
              <dt>source</dt><dd>Specify a data source, using part of its domain name. <strong>"with hospice source cdph"</strong>

            </dl>
            </div>
        </div>
    </div>
</div>

<div class = "row">
    <div class="col-md-8 col-md-offset-2">
        <div id="loading" class="spinner-loader">
        Loading...
        </div>
        <div id="dataset-results">
            {% include 'bundle-parts/bundle-list.html' -%}
        </div>
    </div>
</div>


{% endblock %}

{% block tailjs %}
    {{ super() }}
    <script>

    $('#search-inputs').searchbox({
      url: '/search/bundle',
      param: 'term',
      dom_id: '#dataset-results',
      delay: 1000,
      loading_css: '#loading'
    })

    $(function() {
        $( "#place-search" ).autocomplete({
          source: "/search/place",
          minLength: 2,
          appendTo: "#place-search-results"
        });
    });

    $(document).bind('before.searchbox', function() {
        $('#dataset-results').empty()
    })

    </script>
{% endblock %}