{% extends "layout.html" %}
{% block title %}Site Information{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block masthead %}
    <h1 class="title">Site Information</h1>

{% endblock %}

{% block body %}

<div >

    <div class = "row">
        <div class="col-md-6">
            <h2> App Config</h2>
             <dl class="dl-horizontal">
                 <dt>cache</dt><dd>{{app_config.cache}}</dd>
                 <dt></dt><dd></dd>
                 <dt></dt><dd></dd>

             </dl>
        </div>
        <div class="col-md-6">
            <h2> Run Config</h2>
             <dl class="dl-horizontal">
                 <dt></dt><dd></dd>
                 <dt></dt><dd></dd>
                 <dt></dt><dd></dd>

             </dl>
        </div>
    </div>
    <div class = "row">
        <div class="col-md-6">
            <h2>Library</h2>
             <dl class="dl-horizontal">
                 <dt>dsn</dt><dd>{{l.database.dsn}}</dd>
                 <dt></dt><dd></dd>
                 <dt></dt><dd></dd>

             </dl>
        </div>
        <div class="col-md-6">
            <h2>Warehouse</h2>
            {% if w -%}
             <dl class="dl-horizontal">
                 <dt>dsn</dt><dd>{{w.database.dsn}}</dd>
                 <dt></dt><dd></dd>
                 <dt></dt><dd></dd>
             </dl>
             {% endif -%}
        </div>
    </div>
</div>


{% endblock %}

{% block tailjs %}

{% endblock %}