<div class="clearfix">
        <h2>Bundles</h2>
        <table class="table table-hover  table-condensed" >
            <tr>
                <th>#</th>
                <th>VID</th>
                <th>Source</th>
                <th>Dataset</th>
                <th>Name</th>
                <th>Versions</th>
                <th>Title</th>
            </tr>
            {% for b in bundle_sort(l.bundles.values(), 'name') -%}
                <tr class="bundle_toc">
                    <td>{{loop.index}}</td>
                    <td class="toc_vid"><a href="{{bundle_path(b)}}">{{b.identity.vid}}</a></td>
                    <td class="toc_source">{{b.identity.source}}</td>
                    <td class="toc_dataset">{{b.identity.dataset}}</td>
                    <td class="toc_name">{{b.identity.name}}</td>
                    <td class="toc_version">
                        <ul  class="list-inline">
                            <li><a href="{{bundle_path(b.identity.vid)}}">{{b.identity.version}}</a></li>
                            {% if b.other_versions -%}
                            {% for v in b.other_versions|sort(attribute='revision',reverse=True) -%}
                            <li><a href="{{bundle_path(v.vid)}}">{{v.version}}</a></li>
                            {% endfor %}
                            {% endif -%}
                        </ul>
                    </td>

                    <td class="toc_title" data-toggle="tooltip" data-placement="left"
                        title="{{(b.about.summary or '')|truncate(length=600)}}">
                        {{b.about.title or ''}}</td>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>