{% extends "layout.html" %}
{% block title %}Data Warehouse: {{w.title}}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block masthead %}
    <h1 class="title">Warehouse Index: {{w.title}}</h1>
    <p>{{w.about}}</p>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="container">
            <h1>Manifests</h1>
            <ul>
            {% for index, f, m in w.manifests -%}
              <li><a href="{{index.path}}">{{m.title}} ({{m.access}})</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <h1>Bundles and Partitions</h1>
            {% include 'warehouse/partitions.html' -%}
        </div>
    </div>
{% endblock %}
