<!-- contacts -->
{% macro contact(t,e) %}
    <dt>{{t}}</dt>
    <dd>
    {% if e.name and e.email -%}<a href="mailto:{{e.email}}">{{e.name}}</a>
    {% elif e.name -%}{{e.name}}
    {% elif e.email -%}<a href="mailto:{{e.email}}">{{e.email}}</a>{% endif -%}
    {% if e.name or e.email -%},{%endif%}
    {% if e.url -%}<a href="{{e.url}}">{{e.url}}</a>{% endif -%}
    </dd>

{% endmacro %}
<h2>Contacts</h2>
<dl  class="dl-horizontal">
{% if m.contact_bundle.creator -%}{{ contact('Bundle Creator',m.contact_bundle.creator) }}{% endif %}
{% if m.contact_bundle.maintainer -%}{{ contact('Bundle Maintainer',m.contact_bundle.maintainer) }}{% endif %}
{% if m.contact_source.creator -%}{{ contact('Source Creator',m.contact_source.creator) }}{% endif %}
{% if m.contact_source.maintainer -%}{{ contact('Source Maintainer',m.contact_source.maintainer) }}{% endif %}
</dl>