{% extends "layout.html" %}
{% block title %}{{b.identity.name}}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block masthead %}
    <h1 class="title">{{b.identity.name}}</h1>
    <p>{{b.identity.fqname}}</p>
    {% if b.meta.about.summary -%}<p>{{b.meta.about.summary}}</p>{% endif -%}
{% endblock %}

{% block body %}


<div>
    <div class="row">
        {% include 'bundle/ext_documentation.html' -%}
        {% include 'bundle/contact.html' -%}
        {% include 'bundle/sources.html' -%}
        {% include 'bundle/dependencies.html' -%}
    </div>
    {% include 'bundle/documentation.html' -%}
    <div>
    {% include 'bundle/tables.html' -%}
    </div>
    <div>
    {% include 'bundle/partitions.html' -%}
    </div>

</div>

{% endblock %}
