<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>{{m.about.title}}</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

    <style media="screen" type="text/css">
{{embed_css}}
    </style>
</head>
<body>

<div class="col-md-12">

    <header class="masthead">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                  <h1 class="title">{{m.about.title}}</h1>
                  <p class="uid">Bundle {{b.identity.fqname}}</p>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div  id="sidebar">
                    <div  id="toc"></div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="ambry-manifest">
                {% include 'documentation.html' -%}
                <h1>Tables</h1>
                {% if b.schema.tables|length > 1 -%}
                {% include 'tables.html' -%}
                {% endif -%}
                {% for table in b.schema.tables -%}
                    {% include 'table.html' -%}
                {% endfor %}
                </div>
            </div>
        </div>
    </div>

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="http://assets.s3.clarinova.com/js/toc.min.js"></script>
<script>
$('#toc').toc();
$('#toc ul').addClass('nav nav-stacked')

$('#sidebar').affix({
      offset: {
        top: $('header').height()
      }
});

</script>
</body>
</html>