<!-- contacts -->
{% macro contact(t,e) %}
    {%  if e.name or e.email or e.org or e.url %}
        <div>
        <span class="label label-primary">{{t}}</span>

        {% if e.org -%}
            {% if e.url -%}<a href="{{e.url}}">{{e.org}}</a>{% else %}{{ e.org }}{% endif -%}
        {% else %}
        {% if e.url -%}<a href="{{e.url}}">{{e.url}}</a>{% endif -%}
        {%  endif %}
        {% if e.org or e.url -%},{%endif%}
        {% if e.name and e.email -%}<a href="mailto:{{e.email}}">{{e.name}}</a>
        {% elif e.name -%}{{e.name}}
        {% elif e.email -%}<a href="mailto:{{e.email}}">{{e.email}}</a>
        {% endif -%}
        </div>
    {%endif%}

{% endmacro %}

<div class = 'ck-contacts' >
    <h2>Contacts</h2>
    {% for typ, ct in b.metadata.contacts.items() %}
        {{ contact(typ,ct) }}
    {% endfor %}
</div>
