{% extends "layout.html" %}
{% from "macros.html" import json_button%}
{% block title %}{{b.metadata.about.title}}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block masthead %}{{b.metadata.about.title.html|safe}}{% endblock %}
{% block pageheader %}
<div class="page-header">
    <div class="summary">{% if b.metadata.about.summary -%}{{b.metadata.about.summary.html|safe}}{% endif -%}</div>
    <div><small>{{b.identity.fqname}}</small></div>
</div>
{% endblock %}

{% block body %}

{% endblock %}

{% block tailjs %}
    {{ super() }}
    <script>
    // Make tabs persistent on back
    $(document).ready(function() {
        // show active tab on reload
        if (location.hash !== '') $('a[href="' + location.hash + '"]').tab('show');

        // remember the hash in the URL without jumping
        $('a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
           if(history.pushState) {
                history.pushState(null, null, '#'+$(e.target).attr('href').substr(1));
           } else {
                location.hash = '#'+$(e.target).attr('href').substr(1);
           }
        });
    });

        //Live search partition table.
    $("#partition-search").keyup(function () {
        var value = this.value.toLowerCase().trim();

        $("#partition-list tr").each(function (index) {
            if (!index) return;
            $(this).find("td").each(function () {
                var id = $(this).text().toLowerCase().trim();
                var not_found = (id.indexOf(value) == -1);
                $(this).closest('tr').toggle(!not_found);
                return not_found;
            });
        });
    });


    </script>
{% endblock %}



