{% from 'macros.html' import modal, modal_button, exampledata %}
<h2>Tables</h2>
<table class="table table-striped table-bordered table-condensed">
    <tr>
        <th>Name</th>
        <th>Partitions</th>
        <th>Description</th>
        <th>id</th>

    </tr>
    {% for t in b.tables|sort(attribute='vid') -%}
    <tr>

        <td><a href="{{table_path(b,t)}}">{{t.name}}</a></td>
        <td class="no-wrap">{% if t.partitions -%}
            <ul>
                {% for p in t.partitions -%}
                <li><a href="{{partition_path(p.vid)}}">{{p.name}}</a></li>
                {% endfor %}
            </ul>
        {% endif -%}</td>
        <td>{{t.description}}</td>
        <td>{{t.vid}}</td>

    </tr>
    {% endfor %}
</table>



