include requirements.txt
recursive-include requirements *.txt
include INSTALL
include LICENSE
recursive-include doc *
recursive-include ambry/bundle/default_files *
recursive-include test/support *
recursive-include ambry/support *

