PyYAML
semidbm
SQLAlchemy
simplejson
requests
boto
python-dateutil
unicodecsv
lockfile
sh
petl
pyparsing
markdown
psycopg2
semantic_version
# This pysqlite clone enables load_extension. Only needed on Linux
#git+https://github.com/clarinova/pysqlite.git#egg=pysqlite
