PyYAML
SQLAlchemy
simplejson
boto
requests
unicodecsv
lockfile
sh
petl
markdown
psycopg2
semantic_version

numpy
gdal
h5py

pandas
# These are for the server
decorator
paste
bottle
## This pysqlite clone enables load_extension. Only needed on Linux. It is added
## in setup.py for linux, so you don't need to uncomment it here.
# git+https://github.com/clarinova/pysqlite.git#egg=pysqlite


