<div id="search-inputs">
    <div class = "row top-buffer">
        <div class="col-md-2">Subject</div>
        <div class="col-md-8">
            <div class="input-group">
                <div class="input-group-addon about">About</div>
                <input type="text" id="ds-search" placeholder="Search"  name="about">
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class = "row top-buffer">
        <div class="col-md-2">
            Variables and Source agency
        </div>

        <div class="col-md-4">
            <div class="input-group">
                <div class="input-group-addon with">With</div>
                <input type="text" id="with-search" placeholder="Variable name" name="with" >
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <div class="input-group-addon with">Source</div>
                <input type="text" id="source-search" placeholder="Data producer domain name" name="source" >
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class = "row top-buffer">
        <div class="col-md-2">
            <p>Geographic Coverage</p>
        </div>

        <div class="col-md-4">
            <div class="input-group">
                <div class="input-group-addon in">In</div>
                <input type="text" id="place-search" placeholder="Place Search" name="in">
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <div class="input-group-addon by">By</div>
                <select class="form-control" name="by" placeholder="Geographic Granularity">
                    <option value="">Geographic Granularity</option>
                    <option value="0E00">State</option>
                    <option value="0O0000">County</option>
                    <option value="2A000000">Place</option>
                    <option value="6s0000">Urban Area</option>
                </select>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class = "row top-buffer">
        <div class="col-md-2">
            <p>Time coverage</p>
        </div>

        <div class="col-md-4">
            <div class="input-group">
                <div class="input-group-addon from">From</div>
                <input type="text" id="from-search" placeholder="Start year" name="from" >
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <div class="input-group-addon to">To</div>
                <input type="text" id="to-search" placeholder="End Year" name="to">
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>