{% extends "layout.html" %}
{% block title %}Collection: {{m.title}}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block masthead %}
    <h1 class="title">Manifest: {{m.title}}</h1>
    {% if m.uid -%}<p class="uid"><a href="manifest.ambry">Manifest {{m.uid}}</a></p>{% endif %}
    <p>{{m.summary.html}}</p>
{% endblock %}

{% block body %}
<div class="ambry-manifest">

    {% include 'manifest/databases.html' -%}

    <div>
        {% for line, section in m.tagged_sections('partitions') -%}
        {% include 'manifest/'+section.tag+'.html'  ignore missing -%}
        {% endfor %}
    </div>

    {% include 'manifest/tables.html' -%}

    {% include 'manifest/views.html' -%}

</div>




{% endblock %}


