{% extends "layout.html" %}
{% block title %}Manifest: {{m.title}}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block masthead %}
    <h1 class="title">Manifest: {{m.title}}</h1>
    {% if m.uid -%}<p class="uid"><a href="manifest.ambry">Manifest {{m.uid}}</a></p>{% endif %}
    <p>{{m.summary.html}}</p>
{% endblock %}

{% block body %}
<div>
    <div class="ambry-manifest">
    {% for line, section in m.sorted_sections -%}
    {% include 'manifest/'+section.tag+'.html'  ignore missing -%}
    {% endfor %}
    </div>
</div>
{% endblock %}


