/* Manifest default CSS */

header {
	height:150px;
}

div.object_type {
    color: #AAA;
}

@media (min-width: 979px) {
  #sidebar.affix-top {
    position: static;
  	margin-top:25px;
  	width:228px;
  }

  #sidebar.affix {
    position: fixed;
    top:25px;
    width:228px;
  }
}

.affix,.affix-top {
   position:static;
}

div.doc {
    margin-top: 10px
}

div.extract {
    text-indent: 2em;
}


