<!-- Partitions View, line {{section.line_number}} -->
<h2 class="{{section.tag}}" id="ambrm_{{section.line_number}}">Bundles and Partitions</h2>
<div>
    <table class="table table-striped table-bordered table-condensed">
        <tr>
            <th>Bundle</th>
            <th>Partition</th>
            <th>Bundle Title</th>
        </tr>
        {% for k,b in m.bundles.items() -%}
            {% for p in b.partitions -%}
                <tr><td><a href="{{root_path}}/{{b.ident.path}}/index.html">{{b.ident.vname}}</a></td>
                    <td><a href="{{root_path}}/{{b.ident.path}}/{{p.ident.vid}}.html">{{p.ident.name.as_partialname()}}</a></td>
                    <td>{{b.metadata.about.title}}</td>
                </tr>
            {%endfor-%}
        {% endfor -%}
    </table>
</div>
