<!-- Manifest Tables -->
<h2 >Tables</h2>
<div>
    <table class="table table-striped table-bordered table-condensed">
        <tr>
            <th>Table Name</th>
            <th>Installed As</th>
            <th>Description</th>
            <th>Bundle</th>
            <th>Bundle Title</th>
        </tr>
        {% for t in tables -%}
        <tr>
            <td><a href="{{root_path}}/{{t.bundle.path}}/{{t.vid}}.html">{{t.name}}</a></td>
            <td>{{t.installed}}</td>
            <td>{{t.description}}</td>
            <td><a href="{{root_path}}/{{t.bundle.path}}/index.html">{{t.bundle.vname}}</a></td>
            <td>{{t.bundle.metadata.about.title}}</td></tr>
        {% endfor -%}
    </table>
</div>