<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>{{m.title}}</title>
</head>
<body>

    <ul>
        {% for line, section in m.sorted_sections -%}
        <li>{{line}}:{{section.tag}}</li>
        {% endfor %}
    </ul>

</body>
</html>