{%- import 'doc_macros.md.jinja' as macros -%}
# {{about.title}}

{% if about.summary is not none %}*{{about.summary}}*{% endif %}

{{ macros.email_maybe("Created By:",about.author,about.author_email) }}
{{ macros.email_maybe("Maintained By:",about.maintainer,about.maintainer_email) }}