{% extends "layout.html" %}
{% block title %}Ambry Library{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block masthead %}
    <h1 class="title">Ambry Library</h1>
    <p>{{l.database.dsn}}</p>
{% endblock %}

{% block body %}

<div >

    {% if w and w.manifests -%}
    <div>
        <h2>Collections</h2>
        <table class="table table-hover table-condensed" >
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Summary</th>
        </tr>
        {% for f,m in w.manifests -%}
            <tr>
                <td><a href="manifests/{{f.ref}}.html">{{f.ref}}</a></td>
                <td>{{f.data.title}}</td>
                <td>{{f.data.summary}}</td>
            </tr>
        {% endfor %}
        </table>
    </div>
    {% endif %}
    {% if l and l.manifests -%}
    <div>
        <h2>Collections</h2>
        <table class="table table-hover table-condensed" >
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Summary</th>
        </tr>
        {% for f,m in l.manifests -%}
            <tr>
                <td><a href="manifests/{{f.ref}}.html">{{f.ref}}</a></td>
                <td>{{f.data.title}}</td>
                <td>{{f.data.summary}}</td>
            </tr>
        {% endfor %}
        </table>
    </div>
    {% endif %}
    {% if l and l.stores -%}
    <div>
        <h2>Databases</h2>
        <table class="table table-hover  table-condensed" >
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Summary</th>
        </tr>
        {% for s in l.stores -%}
            <tr>
                <td><a href="stores/{{s.ref}}.html">{{s.ref}}</a></td>
                <td>{{s.data.title}}</td>
                <td>{{s.data.summary}}</td>
            </tr>
        {% endfor %}
        </table>
    </div>
    {% endif %}
    <div>
        <h2>Bundles</h2>
        <table class="table table-hover  table-condensed" >
            <tr>
                <th>#</th>
                <th>VID</th>
                <th>Source</th>
                <th>Dataset</th>
                <th>Name</th>
                <th>Versions</th>
                <th>Title</th>
            </tr>
            {% for b in l.list_bundles() -%}
                <tr class="bundle_toc">
                    <td>{{loop.index}}</td>
                    <td class="toc_vid"><a href="{{b.identity.path}}/index.html">{{b.identity.vid}}</a></td>
                    <td class="toc_source">{{b.identity.source}}</td>
                    <td class="toc_dataset">{{b.identity.dataset}}</td>
                    <td class="toc_name">{{b.identity.name}}</td>
                    <td class="toc_version">
                        <ul  class="list-inline">
                            <li><a href="{{b.identity.path}}/index.html">{{b.identity.version}}</a></li>
                            {% if b.identity.data.other_versions -%}
                            {% for v in b.identity.data.other_versions -%}
                            <li><a href="{{v.path}}/index.html">{{v.version}}</a></li>
                            {% endfor %}
                            {% endif -%}
                        </ul>
                    </td>

                    <td class="toc_title" data-toggle="tooltip" data-placement="left"
                        title="{{(b.metadata.about.summary or '')|truncate(length=600)}}">
                        {{b.metadata.about.title or ''}}</td>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>


</div>


{% endblock %}

{% block tailjs %}
    {{ super() }}
    <script>
    $('.toc_title').tooltip()
    </script>
{% endblock %}