{% extends "layout.html" %}
{% if w -%}
    {% set lw = w -%}
    {% set lw_type = 'database' -%}
    {% set desc = "in this database" -%}
{% elif l -%}
    {% set lw = l -%}
    {% set lw_type = 'library' -%}
    {% set desc = "based on this library" -%}
{% else -%}
    {% set lw = None -%}
{% endif -%}

{% block title %}Ambry {{lw_type|capitalize}}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block masthead %}
    <h1 class="title">Ambry {{lw_type|capitalize}}</h1>
    <h2>{{lw.title}}</h2>
    <p>{{lw.about}}</p>
    <p>{{lw.database.dsn}}</p>
{% endblock %}

{% block body %}

<div >

    <div class = "row">
        <div class="col-md-6">


            {% if lw and lw.manifests-%}
            <div>
                <h2>Collections <small>{{desc}}</small></small></h2>
                <p>Collections of data bundles around a specific topic.</p>
                <table  class="table table-hover table-condensed" >
                {% for f,m in lw.manifests -%}
                    <tr>
                    <td><a href="manifests/{{f.ref}}.html">{{f.data.title}}</a></td>
                    <td>{{f.data.summary}}</td>
                    </tr>
                {% endfor %}
                </table>
            </div>
            {% endif -%}

        </div>
        <div class="col-md-6">
            {% if not w and l and l.stores -%}
            <div>
                <h2>Databases {%if not w -%}<small>build from this library</small>{%endif%}</h2>
                <p>Remote databases that use data from this library. </p>
                <table  class="table table-hover table-condensed" >
                {% for s in l.stores -%}
                    <tr>
                    <td><a href="stores/{{s.ref}}.html">{{s.data.title}}</a></td>
                    <td>{{s.data.summary}}</td>
                    </tr>
                {% endfor %}
                </table>
            </div>
        {% endif %}
        </div>
    </div>
    <div class="clearfix">
        <h2>Bundles</h2>
        <table class="table table-hover  table-condensed" >
            <tr>
                <th>#</th>
                <th>VID</th>
                <th>Source</th>
                <th>Dataset</th>
                <th>Name</th>
                <th>Versions</th>
                <th>Title</th>
            </tr>
            {% for b in l.list_bundles() -%}
                <tr class="bundle_toc">
                    <td>{{loop.index}}</td>
                    <td class="toc_vid"><a href="{{bundle_path(b)}}">{{b.identity.vid}}</a></td>
                    <td class="toc_source">{{b.identity.source}}</td>
                    <td class="toc_dataset">{{b.identity.dataset}}</td>
                    <td class="toc_name">{{b.identity.name}}</td>
                    <td class="toc_version">
                        <ul  class="list-inline">
                            <li><a href="{{bundle_path(b)}}">{{b.identity.version}}</a></li>
                            {% if b.identity.data.other_versions -%}
                            {% for v in b.identity.data.other_versions -%}
                            <li><a href="{{bundle_path(v)}}">{{v.version}}</a></li>
                            {% endfor %}
                            {% endif -%}
                        </ul>
                    </td>

                    <td class="toc_title" data-toggle="tooltip" data-placement="left"
                        title="{{(b.metadata.about.summary or '')|truncate(length=600)}}">
                        {{b.metadata.about.title or ''}}</td>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>


</div>


{% endblock %}

{% block tailjs %}
    {{ super() }}
    <script>
    $('.toc_title').tooltip()
    </script>
{% endblock %}