<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>Table: {{table.name}}</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

    <style media="screen" type="text/css">
{{embed_css}}
    </style>
</head>
<body>

<div class="col-md-12">

    <header class="masthead">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                  <h1 class="title">Table: {{table.name}}</h1>
                  <p>Warehouse: <a href="../index.html">{{w.title}}</a></p>
                  <p>Bundle: <a href="../doc/{{table.dataset.vid}}.html">{{table.dataset.fqname}}</a></p>
                  <p>{{table.description}}</p>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Schema</h2>
                {% include 'table/table.html' -%}
            </div>
        </div>

    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                  {% if table.partitions -%}
                   <h2>Partitions</h2>
                   <ul>
                       {% for p in table.partitions -%}
                       <li><a href="../doc/{{p.vid}}.html">{{p.vname}}</a></li>
                       {% endfor %}
                   </ul>
                  {% endif %}
            </div>
        </div>
    </div>

</div>

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="http://assets.s3.clarinova.com/js/toc.min.js"></script>
<script>
$('#toc').toc();
$('#toc ul').addClass('nav nav-stacked')

$('#sidebar').affix({
      offset: {
        top: $('header').height()
      }
});

</script>
</body>
</html>