{% extends "layout.html" %}
{% block title %}Warehouse: {{w.title}}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block masthead %}
    <h1 class="title">Warehouse: {{w.title}}</h1>
    <p>{{w.about}}</p>
{% endblock %}

{% block body %}
    <div>
        <h1>Connect</h1>
        <p>DSN: {{w.database.dsn}}</p>
    </div>
    <div>
        <h1>Manifests</h1>
        <ul>
        {% for f, m in w.manifests -%}
          <li><a href="doc/{{m.uid}}.html">{{m.title}} ({{m.access}})</a></li>
        {% endfor %}
        </ul>
    </div>
    <div>
        <h1>Bundles and Partitions</h1>
        <ul class="list-unstyled">
        {% for k,b in w.bundles.items() -%}
            <li><a href="doc/{{b.vid}}.html">{{b.vname}}</a> <em>{{b.data.about_title}}</em></li>
            <ul>
            {% for k,p in b.partitions.items() -%}
                <li><a href="doc/{{p.vid}}.html">{{p.vname}}</a></li>
            {%endfor-%}
            </ul>
        {% endfor -%}
        </ul>
    </div>
    <div>
        <h2>Tables</h2>
        <table class="table table-striped table-bordered table-condensed">
            <tr>
                <th>id</th>
                <th>Name</th>
                <th>Description</th>
            </tr>
            {% for t in w.tables -%}
            <tr>
                <td><a href="doc/{{t.vid}}.html">{{t.vid}}</a></td>
                <td>{{t.name}}</td>
                <td>{{t.description}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
