{% extends "layout.html" %}
{% block title %}Collections{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block masthead %}
    <h1 class="title">Collections</h1>
{% endblock %}

{% block body %}


<div class = "row">
    <div class="col-md-12">
        <p>Collections of datasets. </p>
            {% for ref,s in collections.items() -%}
                <div>
                    <h4><a href="{{store_path(ref)}}">{{s.title}}</a><br/><small> {{s.summary if s.summary else ''}}</small></h4>
                    <p>{{s.dsn}}</p>
                </div>
            {% endfor %}
    </div>
</div>


{% endblock %}

{% block tailjs %}
    {{ super() }}
    <script>
    $('.toc_title').tooltip()
    </script>
{% endblock %}