{% extends "layout.html" %}
{% block title %}Tables{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block masthead %}
    <h1 class="title">{{tables|length}} Tables</h1>
{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-10">
            <table class="table table-hover" >
                {% for tvid, t in tables.items() -%}
                    <tr>
                        <td><a href="{{table_path(t.d_vid,tvid)}}">{{t.id_}}</a></td>
                        <td>{{t.name}}</td>
                        <td><a href="{{bundle_path(t.d_vid)}}">{{t.d_vid}}</a></td>
                        <td>{{t.description}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>


{% endblock %}

