<!-- contacts -->
{% macro contact(t,e) %}
    <dt>{{t}}</dt>
    <dd>
    {% if e.name and e.email -%}<a href="mailto:{{e.email}}">{{e.name}}</a>
    {% elif e.name -%}{{e.name}}
    {% elif e.email -%}<a href="mailto:{{e.email}}">{{e.email}}</a>{% endif -%}
    {% if e.name or e.email -%},{%endif%}
    {% if e.org -%}
        {% if e.url -%}<a href="{{e.url}}">{{e.org}}</a>{% else %}{{ e.org }}{% endif -%}
    {% else %}
        {% if e.url -%}<a href="{{e.url}}">{{e.url}}</a>{% endif -%}
    {%endif%}

    </dd>
{% endmacro %}
{% set cb = b.meta.contact_bundle %}
{% set cs = b.meta.contact_source %}
{% if (cb and (cb.creator or cb.maintainer)) or ( cs and (cs.creator or cs.maintainer)) -%}
<div class = 'ck-contacts' >
    <h2>Contacts</h2>
    <dl  class="dl-horizontal">
    {% if cb %}
    {% if cb.creator -%}{{ contact('Bundle Creator',cb.creator) }}{% endif %}
    {% if cb.maintainer -%}{{ contact('Bundle Maintainer',cb.maintainer) }}{% endif %}
    {% endif -%}
    {% if cs %}
    {% if cs.creator -%}{{ contact('Source Creator',cs.creator) }}{% endif %}
    {% if cs.maintainer -%}{{ contact('Source Maintainer',cs.maintainer) }}{% endif %}
    {% endif -%}
    </dl>
</div>
{% endif -%}