{% extends "layout.html" %}
{% block title %}{{b.metadata.about.title}}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block masthead %}
    <h1 class="title">{{b.metadata.about.title}}</h1>
    <p>Dataset {{b.identity.fqname}}. <a href="{{schema_path(b.identity.vid,'html')}}">Schema</a></p>
    {% if b.metadata.about.summary -%}<p>{{b.metadata.about.summary}}</p>{% endif -%}
{% endblock %}

{% block body %}

<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
        <a href="#about-tab" aria-controls="home" role="tab" data-toggle="tab">About</a>
    </li>
    <li role="presentation">
        <a href="#partitions-tab" aria-controls="partitions" role="tab" data-toggle="tab">Data Files</a>
    </li>
    <li role="presentation">
        <a href="#tables-tab" aria-controls="tables" role="tab" data-toggle="tab">Tables</a>
    </li>
    <li role="presentation">
        <a href="#build-tab" aria-controls="settings" role="tab" data-toggle="tab">Build</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="about-tab">
        {% include 'bundle/isin.html' -%}
        {% include 'bundle/ext_documentation.html' -%}
        {% include 'bundle/contact.html' -%}
        {% include 'bundle/documentation.html' -%}
        {% include 'bundle/sources.html' -%}
    </div>
    <div role="tabpanel" class="tab-pane" id="partitions-tab">
        {% include 'bundle/partitions.html' -%}
    </div>
    <div role="tabpanel" class="tab-pane" id="tables-tab">
        {% include 'bundle/tables.html' -%}
    </div>
    <div role="tabpanel" class="tab-pane" id="build-tab">

        {% include 'bundle/process.html' -%}
        {% include 'bundle/dependencies.html' -%}

    </div>
  </div>

</div>




{% endblock %}

{% block tailjs %}
    {{ super() }}
    <script>
    // Make tabs persistent on back
    $(document).ready(function() {
        // show active tab on reload
        if (location.hash !== '') $('a[href="' + location.hash + '"]').tab('show');

        // remember the hash in the URL without jumping
        $('a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
           if(history.pushState) {
                history.pushState(null, null, '#'+$(e.target).attr('href').substr(1));
           } else {
                location.hash = '#'+$(e.target).attr('href').substr(1);
           }
        });
    });

        //Live search partition table.
    $("#partition-search").keyup(function () {
        var value = this.value.toLowerCase().trim();

        $("#partition-list tr").each(function (index) {
            if (!index) return;
            $(this).find("td").each(function () {
                var id = $(this).text().toLowerCase().trim();
                var not_found = (id.indexOf(value) == -1);
                $(this).closest('tr').toggle(!not_found);
                return not_found;
            });
        });
    });


    </script>
{% endblock %}



