{% extends "bundle-parts/layout.html" %}
{% from 'bundle-parts/tabs.html' import tabs %}
{% block page_css %}
    .meta-table th:first-child{
        width: 15em;
    }
{% endblock %}
{% block body %}

    {{tabs('meta',vid)}}


    {%  for (group_name,group) in metadata -%}
        <a id="{{ group_name }}" class="anchor"></a>
        <h2 >{{ group_name|title }}
            <small>
                <a href="#{{ group_name }}"<span class="glyphicon glyphicon-link" aria-hidden="true"></span></a>
            </small>
        </h2>

        <table class="table meta-table">
            {%  for (k, v) in group %}
                <tr><th>{{ k }}</th><td>{{ v }}</td></tr>
            {% endfor  -%}

        </table>

    {%  endfor -%}

    <a id="build_times" class="anchor"></a>
    <h2 >Build Times
        <small>
            <a href="#build_times"><span class="glyphicon glyphicon-link" aria-hidden="true"></span></a>
        </small>
    </h2>
    <table class="table meta-table">
        <tr><th>Bundle Created</th><td>{{ b.buildstate.new_datetime }}</td></tr>
        <tr><th>Last Operation</th><td>{{ b.buildstate.last_datetime }}</td></tr>
        <tr><th>Built</th><td>{{ b.buildstate.built_datetime }}</td></tr>
        <tr><th>Build Duration</th><td>{{ b.buildstate.build_duration_pretty }}</td></tr>
    </table>

    <a id="build_files" class="anchor"></a>
    <h2 >Build Files
        <small>
            <a href="#build_files"><span class="glyphicon glyphicon-link" aria-hidden="true"></span></a>
        </small>
    </h2>
    <table class="table meta-table">
        {% for bs in b.build_source_files -%}
            {%  if bs.exists() %}
                <tr>
                <td><a href="{{ url_for('bundle_file',vid=vid, name=bs.file_name) }}">{{ bs.file_name }}</a></td>
                <td>{{ bs.record.modified_datetime }}</td>
                <td>{{ bs.record.modified_ago }} ago</td>
                </tr>

            {% endif  -%}
        {% endfor %}
    </table>

{% endblock %}


