{% extends "bundle-parts/layout.html" %}
{% from 'bundle-parts/tabs.html' import tabs %}
{% block page_css %}
    #partition-list th:first-child{
        width: 10em;
    }
    td.col-name {
        min-width: 25em;
    }
    td.table-name {
        width: 10em;
    }
{%  endblock %}
{% block body %}

    {{tabs('partitions',vid)}}

    <h2>Data Files</h2>

    <div><input type="text" id="partition-search" placeholder="Search Data files" /></div>

    <table id='partition-list' class="table table-striped table-bordered table-condensed">
        <tr>

            <th style="width: 20em;">Name</th>

            <th>Description</th>
            <th>Download</th>

            {% if w %}<th>Installed</th>{% endif %}
        </tr>
        {% for p in b.partitions|sort(attribute='identity.name') -%}
        <tr>
            <td class="col-name"><a href="{{partition_path(p.vid)}}">{{p.name}}</a><br/>
            <small>{{p.vid}}</small></td>
            <td>{{p.description}}<br/><small>{{ p.sub_description }}. {{ p.count }} Rows.</small></td>
            <td ><a class="btn btn-primary btn-sm" href="{{url_for('stream_file', pvid=p.vid, ct='csv')}}">CSV</a></td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}


