{% extends "layout.html" %}
{% from "macros.html" import json_button%}
{% block title %}{{p.vname}}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block json_button %}
    {{ json_button('partition_json', vid=p.vid) }}
{% endblock %}
{% block masthead %}{{p.name}}{% endblock %}
{% block pageheader %}
    <div class="page-header">
    <div class="summary">{{ p.description }}. {{ p.sub_description }}. {{ p.count }} Rows.</div>
        <div><a class="btn btn-primary btn-sm" href="{{url_for('stream_file', pvid=p.vid, ct='csv')}}">CSV</a>
            From: <a href="{{bundle_path(p.dataset.vid)}}">{{p.dataset.fqname}}</a>.
            Table: {{p.table.name}}.

        </div>
    </div>
{%  endblock %}
{% block page_css %}
    .popover {
        min-width: 40%;
    }
{%  endblock %}
{% block body %}
<div>

    <div>

        {% if docs %}
            <dl>
            <h3>Documentation</h3>
            {% for d in docs %}
                <dt><a href="{{d.url}}" target="_blank">{{d.title}}</a></dt><dd>{{ d.description }}</dd>
            {% endfor %}
            </dl>
        {% endif %}

         {%if p.geo_coverage and p.geo_coverage.names%}
            <p><span class="label label-default">Geography:</span>&nbsp;
                {{p.geo_grain.names|join(', ')}} granularity in {{p.geo_coverage.names|join(', ')}}</p>
        {% endif -%}

        {%if p.time_coverage and p.time_coverage.years%}
            <p><span class="label label-default">Years:</span>&nbsp;
                {% if p.time_coverage.years|length < 5 %}
                {{p.time_coverage.years|join(', ')}}
                {% else %}
                {{p.time_coverage.min}} to {{p.time_coverage.max}}
                {% endif %}
            </p>
         {% endif -%}

        <table class="table table-striped table-bordered table-condensed">
            <tr>
                <th>#</th>
                <th>Column</th>
                <th>LOM</th>
                <th>Type</th>
                <th>Description</th>
                <th>Unique Values /<br/>
                    Histogram ( &mu;&plusmn;2&sigma; range )</th>
                <th>Vid</th>

            </tr>

            {% for c in p.table.columns|sort(attribute='sequence_id') -%}
            <tr>
                <td>{{c.sequence_id}}</td>
                <td>{{c.name}}</td>
                <td>{{p.stats_dict[c.name].lom}}</td>
                <td>{{c.datatype}}</td>
                <td>{{c.description}}</td>
                <td >
                    {%  if p.stats_dict[c.name].lom in ('o','n') %}
                        <a tabindex = "0"
                        data-toggle="popover" data-placement="left" data-trigger="hover"
                        data-title="Selected Values"
                        data-content="{{ p.stats_dict[c.name].uvalues|join(', ') }}" >
                        {{p.stats_dict[c.name].nuniques}} Uniques </a>
                    {% else %}
                        <div><span class="histospark">
                        {% for e in p.stats_dict[c.name].hist %}{{e}},{% endfor %}
                        </span></div>
                        <div><span class="boxplot">
                            {{p.stats_dict[c.name].min }},
                            {{p.stats_dict[c.name].p25}},
                            {{p.stats_dict[c.name].p50}},
                            {{p.stats_dict[c.name].p50}},
                            {{p.stats_dict[c.name].max}}
                        </span></div>
                    {% endif %}

                </td>

                <td>{%if c.sequence_id == 1 %}{{p.table.vid}}{% else %}{{c.vid}}{% endif %}</td>

            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% if p.sample %}
    <h2>Sample Data</h2>
    <table class="table table-striped table-bordered table-condensed">
        <thead>
        <tr>
            {% for c in p.table.columns.values()|sort(attribute='sequence_id') -%}
            <th>{{c.vid}} / {{c.name}}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for row in p.sample %}
        <tr>
            <th>{{row[0]}}</th>
            {% for col in row[1:] %}
            <td> {{col}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
{%endif%}

{% endblock %}

{% block tailjs %}
{{ super() }}
    <script language="javascript" type="text/javascript" src="/js/sparklines.js"></script>
    <script>

        $(function() {
         $('[data-toggle="popover"]').popover()
         $('.histospark').sparkline('html', {height: 25, barWidth: 8, type: 'bar', barColor: 'blue'} );
         $('.boxplot').sparkline('html', {height: 25, width: 100, type: 'box',
             barColor: 'blue', raw: true,
             showOutliers: false } );
        });
    </script>
{% endblock %}
