{% extends "layout.html" %}
{% block title %}{{b.identity.name}}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block masthead %}
    <h1 class="title">{{b.identity.name}}</h1>
    <p>Bundle {{b.identity.fqname}}. <a href="{{schema_path(b.identity.vid,'csv')}}">Schema CSV</a></p>
    {% if b.meta.about.summary -%}<p>{{b.meta.about.summary}}</p>{% endif -%}
{% endblock %}

{% block body %}

<h2>Schema</h2>
<table class="table table-striped table-bordered table-condensed">
    <tr>
        {% for col in schema.header -%}
        <th>{{col}}</th>
        {% endfor -%}
    </tr>
    {% for row in schema.rows -%}
    <tr>
        {% for col in row -%}
        <td>{{col}}</td>
        {% endfor -%}
    </tr>
    {% endfor %}
</table>

{% endblock %}





