{% extends "layout.html" %}
{% block title %}Table: {{t.name}}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block masthead %}{{t.name}}{% endblock %}
{% block pageheader %}
    <div class="page-header">
        <div class="summary">{{t.description}}. {{ t.columns|length }} Columns.</div>
    </div>

{%  endblock %}

{% block body %}

<div >
    {{t.data.get('doc',{}).html}}
</div>

<table class="table table-striped table-bordered table-condensed">
    <tr>
        <th>#</th>
        <th>Column</th>
        <th>Alt Name</th>
        <th>Type</th>
        <th>Size</th>
        <th>Description</th>
        <th>Vid</th>
        <th>Codes</th>

    </tr>
    {% for c in t.columns -%}
    <tr>
        <td>{{c.sequence_id}}</td>
        <td>{{c.name}}</td>
        <td>{{c.altname}}</td>
        <td>{{c.datatype}}</td>
        <td>{{c.size}}</td>
        <td>{{c.description}}</td>
        <td>{%if c.sequence_id == 1 %}{{t.vid}}{% else %}{{c.vid}}{% endif %}</td>
        <td>{%if c.proto_vid %}
            <a href="{{proto_vid_path(c.proto_vid)}}">{{c.proto_vid}} ({{tc_obj(c.proto_vid).name}})</a>
            {%endif-%}
            {%if c.fk_vid %}
            <a href="{{proto_vid_path(c.fk_vid)}}">{{c.fk_vid}} ({{tc_obj(c.fk_vid).name}})</a>
            {%endif-%}
        </td>
        <td>{% if c.codes %}
            <ul>
                {% for cd in c.codes.values()|sort(attribute='key') %}
                <li>{{cd.key}}->{{ cd.value }}</li>
                {% endfor %}
            </ul>
            {%endif%}

        </td>

    </tr>
    {% endfor %}
</table>
{% endblock %}
