{% from 'macros.html' import modal, modal_button, exampledata %}
{% extends "layout.html" %}
{% block title %}Database: {{s.title}}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block masthead %}
    <h1 class="title">Collection: {{s.title}}</h1>
    <p>UID: {{s.uid}}
        <br/>DSN: {%if s.url and ( s.dsn.startswith('spatialite') or s.dsn.startswith('sqlite') ) %}
        <a href="{{db_download_url(s.url,s.uid)}}">{{s.dsn}}</a>
        {% else %}{{s.dsn}}{%endif%}
        {% if s.url -%}<br/>URL: {{s.url}} {%endif%}</p>
    {% if s.summary -%}<p>{{s.summary}}</p>{% endif -%}
{% endblock %}

{% block body %}

<div role="tabpanel">

  <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">

        <li role="presentation"  class="active">
            <a href="#tables-tab" aria-controls="tables" role="tab" data-toggle="tab">Tables</a>
        </li>
        <li role="presentation">
            <a href="#views-tab" aria-controls="views" role="tab" data-toggle="tab">Views</a>
        </li>
        <li role="presentation">
            <a href="#indexes-tab" aria-controls="indexes" role="tab" data-toggle="tab">Indexes</a>
        </li>
        <li role="presentation">
            <a href="#stats-tab" aria-controls="stats" role="tab" data-toggle="tab">Stats</a>
        </li>
    </ul>

  <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="tables-tab">
            {% include 'store/tables.html' -%}
        </div>
        <div role="tabpanel" class="tab-pane" id="views-tab">
            {% include 'store/views.html' -%}
        </div>
        <div role="tabpanel" class="tab-pane" id="indexes-tab">
            {% include 'store/indexes.html' -%}
        </div>
        <div role="tabpanel" class="tab-pane" id="stats-tab">
            {% include 'store/stats.html' -%}
        </div>

    </div>

</div>

{% endblock %}