{% extends "layout.html" %}
{% block title %}Table: {{t.name}}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block masthead %}
    <h1 class="title">Table: {{t.name}}, {{t.vid}}</h1>
    {% if t.doc -%}<p>{{t.get('doc',{}).summary_html}}</p>{% endif -%}
    <p>In warehouse: <strong>{{s.title+', '}}</strong><a href="{{store_path(s.uid)}}">{{s.uid}}</a>.</p>
    {%if t.source_partition -%}
    <p>From partition: <a href="{{bundle_path(t.d_vid)}}">{{t.source_partition.vname}}</a></p>
    <p>Installed as: {{ t.installed_names|join(', ') }}</p>
    {% endif -%}
{% endblock %}

{% block body %}

<div >
    {{t.get('doc',{}).html}}
</div>

{% if s.url -%}<div>

    {% for format in extractors(t) -%}
    <button type="button">
    <a href="{{extract_url(s.url, s.uid, t.vid if t.type=='table' else t.name, format)}}">{{format}}</a>
    </button>
    {% endfor -%}
</div>{% endif %}
<div></div>{% for format in extractors(t) -%}
            <small><button type="button">
            <a href="{{extract_url(s.uid,  t.vid, format)}}">{{format}}</a>
            </button></small>
            {% endfor -%}
<h2>Schema</h2>
<small><button type="button"><a href="{{ t.vid }}.csv">Schema CSV</a></button></small>
</div>
<div>
<table class="table table-striped table-bordered table-condensed">
    <tr>
        <th>#</th>
        <th>Column</th>
        <th>Alt Name</th>
        <th>Type</th>
        <th>Size</th>
        <th>Description</th>
        <th>Vid</th>
        <th>Proto Id</th>
    </tr>
    {% for c in t.columns.values()|sort(attribute='sequence_id') -%}
    <tr>
        <td>{{c.sequence_id}}</td>
        <td>{{c.name}}</td>
        <td>{{c.altname}}</td>
        <td>{{c.datatype}}</td>
        <td>{{c.size}}</td>
        <td>{{c.description}}</td>
        <td>{%if c.sequence_id == 1 %}{{t.vid}}{% else %}{{c.vid}}{% endif %}</td>
        <td>{%if c.proto_vid %}
            <a href="{{proto_vid_path(c.proto_vid)}}">{{c.proto_vid}} ({{tc_obj(c.proto_vid).name}})</a>
            {%endif-%}
        </td>

    </tr>
    {% endfor %}
</table>
</div>


{% if t.sample -%}
<h2> Sample Data <small>{{t.sample|length}} of {{t.count}} records</small></h2>
<table  class="table">
    <tr>
        {% for c in t.sample[0] %}
        <th>{{c}}</th>
        {% endfor -%}
    </tr>
    {% for row in t.sample[1:] %}
        <tr>
            {% for c in row %}
                <td>{% if c == "<type 'buffer'>" %}BLOB{%else%}{{ c if c != None else '' }}{%endif%}</td>
            {% endfor -%}
        </tr>
    {% endfor -%}
</table>

{% endif -%}

{% if t.sql -%}
<h2> SQL </h2>
<div class="codehilite " >
    {{format_sql(t.sql)}}
</div>
{% endif -%}

{% endblock %}
