
<h2>Views</h2>
<table  class="table table-hover table-condensed" >
    <tr>
        <th>id</th>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>

        {% if s.url -%}<th>Extracts</th>{% endif -%}
    </tr>
{% for t in s.tables.values()|selectattr('type','isin',['view', 'mview','indexed']) -%}
    <tr>
    <td><a href="{{store_table_path(s.uid,t.vid)}}">{{t.vid}}</a></td>
    <td>{{t.name}}</td>
    <td>{{t.type}}</td>
    <td>{{t.description if t.description  else ''}}</td>

    <td>
        {% for format in extractors(t) -%}
        <button type="button">
        <a href="{{extract_url(s.uid, t.name, format)}}">{{format}}</a>
        </button>
        {% endfor -%}
    </td>
    </tr>
{% endfor %}
</table>


